.movie-card {
  width: 100%;
}

.movie-cover {
  min-width: 20rem;
}

.movie-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
  margin-bottom: 15px;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.show-header {
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

/* Hero */
#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 1200px;
}

.hero-container {
  border: 2px solid black;
}

.hero-image img {
  width: 100%;
  height: 100%;
}

.movie-title {
  color: white;
  font-weight: bold;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}